<%- include("partials/header")%>
    <section class="form">
        <form action="" method="post">
            <label for="login">Votre login</label><input type="text" name="login">
            <label for="password">Votre mot de passe</label><input type="password" name="password">
            <label for="passwordConfirm">Confirmez votre mot de passe</label><input type="password" name="passwordConfirm">
            <button type="submit">Envoyer</button>
        </form>
    </section>
<%- include("partials/footer")%>
